.wrapper {
    display: flex;
    justify-content: center;
    transition: top 0.3s, background-color 0.4s ease;
    /* background: rgbargba(0,0,0,0.8);
    backdrop-filter: saturate(100%) blur(3px); */
    height: 6em;
    /* background-color: var(--white);
    color: var(--xiketic); */
}

/* .wrapper:hover {
    background-color: var(--white);
    color: var(--oxford-blue);
}

.wrapper:hover span {
    color: var(--slate-gray);
} */

.nav{
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.logo {
    display: inherit;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.logo > h1 {
    font-family: granjon;
    text-transform: uppercase;
    font-size: 3em;
    /* font-weight: 300; */
}

/* .logo > h1 > span {
    color:var(--slate-gray);
} */

img {
    max-width: 5em;
    max-height: 5em;
    margin: 1em;
}

ul {
    display: inherit;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 500;
}

li {
    width: 7.5em;
    padding: 30px;
    transition: transform .1s;
    padding: 10px;
}

li:hover {
    transform: scale(1.);
}

a {
    text-decoration: underline solid transparent;
    transition: text-decoration 0.8s ease, color .2s linear;
    color: inherit;
}

a:hover {
    /* color: var(--slate-gray); */
    text-decoration: underline solid Currentcolor;
}