.wrapper {
    display: flex;
    justify-content: center;
    /* background-color: var(--white);
    color: var(--xiketic); */
}

.nav{
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.logo {
    display: inherit;
    flex-direction: row;
    align-items: center;
}

.logo > h1 {
    font-family: granjon;
    text-transform: uppercase;
    font-size: 3em;
    /* font-weight: 300; */
}

/* .logo > h1 > span {
    color:var(--slate-gray);
} */

img {
    max-width: 5em;
    max-height: 5em;
    margin: 1em;
}

ul {
    display: inherit;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 400;
}

li {
    width: 7.1em;
}