.divider {
    width: 95%;
    margin-bottom: 1em;
    border: none;
    background-color: var(--slate-gray);
    /* background-color: #392d23; */
    height: 1px;
}
.blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
    font-size: small;
}

.copyright-statement{
    font-size: smaller;
    display: flex;
    justify-content: center;
}