#wrapper {
    height: 25vh;
}


.blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
    font-size: small;
}

.copyright-statement{
    font-size: smaller;
    display: flex;
    justify-content: center;
}