<section id="about">
    <h2>This is Diamond Fox</h2>
    <p>Born in Zürich, Switzerland - by and for creative, eager minds.</p>
    <p>
      We design and develop digital experiences to help customers innovate, grow
      and thrive. Our aim is to understand your vision, identify your goals and
      use our know-how to build that into an impactful reality.
    </p>
    <p>
      Every project is built from scratch, in-house to ensure quality. We do not
      resort to outsorcing, usage of templates or any third parties.
    </p>
  </section>