<section id="home">
  <div class="home-wrapper">
    <div>
      <h1>High Quality Website Solutions for Businesses</h1>
    </div>
    <div>
    </div>
  </div>
</section>

<video
  playsinline
  src="../../../../assets/media/shore-bw-trim-reverse.mp4"
  [muted]="true"
  autoplay
  playsinline
  loop
  type="video/mp4"
  width="100%"
  id="home-background"
></video>

<section id="about">
  <h2>This is Diamond Fox</h2>
  <p>Born in Zürich, Switzerland - by and for creative, eager minds.</p>
  <p>
    We design and develop digital experiences to help customers innovate, grow
    and thrive. Our aim is to understand your vision, identify your goals and
    use our know-how to build that into an impactful reality.
  </p>
  <p>
    Every project is built from scratch, in-house to ensure quality. We do not
    resort to outsorcing, usage of templates or any third parties.
  </p>
</section>

<!-- <hr class="divider" />

<section id="work">

</section> -->

<hr class="divider" />

<section id="hire-us">
  <h2>Our Approach</h2>
  <div id="cards">
    <div>
      <img src="../../../../assets/media/eye.png" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur
      </p>
    </div>
    <div class="vr"></div>
    <div>
      <img src="../../../../assets/media/chatbox.png" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur
      </p>
    </div>
    <div class="vr"></div>
    <div>
      <img src="../../../../assets/media/hammer.png" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur
      </p>
    </div>
  </div>
</section>
