/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: granjon;
  src: url("./assets/fonts/Granjon.otf") format("opentype");
}

:root {
  --oxford-blue: #0d132bff;
  --xiketic: #03030eff;
  --white: #fbfefdff;
  --slate-gray: #63758cff;
  --oxford-blue-2: #0d1c3aff;
}

body {
  background-color: var(--xiketic);
  color: var(--white);
  font-family: 'Jost';
  font-weight: 300;
}

.divider {
  width: 95%;
  margin-bottom: 1em;
  border: none;
  background-color: var(--slate-gray);
  /* background-color: #392d23; */
  height: 1px;
}